@charset "UTF-8";
/*
/***************************/
/* CONTENTS ****************/
/***************************/
/**
 * CONTENTS............You’re reading it!
 * RESET...............Set our reset defaults
 * FONT-FACE...........Import brand font files
 */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Reset
2.0 - Typography
3.0 - Elements
4.0 - Forms
5.0 - Navigation
	5.1 - Links
	5.2 - Menus
6.0 - Accessibility
7.0 - Alignments
8.0 - Clearings
9.0 - Widgets
10.0 - Content
	10.1 - Posts and pages
	10.2 - Asides
	10.3 - Comments
11.0 - Infinite scroll
12.0 - Media
	12.1 - Captions
	12.2 - Galleries
--------------------------------------------------------------*/

// TODO delete responsive.css import
/*@import url("responsive.css");*/

/*--------------------------------------------------------------
1.0 - Reset
--------------------------------------------------------------*/

// Core variables and mixins
@import "../lib/bootstrap/stylesheets/bootstrap/variables";
@import "../lib/bootstrap/stylesheets/bootstrap/mixins";

// Reset and dependencies
@import "../lib/bootstrap/stylesheets/bootstrap/normalize";
@import "../lib/bootstrap/stylesheets/bootstrap/print";
@import "../lib/bootstrap/stylesheets/bootstrap/glyphicons";

// Core CSS
@import "../lib/bootstrap/stylesheets/bootstrap/scaffolding";
@import "../lib/bootstrap/stylesheets/bootstrap/type";
@import "../lib/bootstrap/stylesheets/bootstrap/code";
@import "../lib/bootstrap/stylesheets/bootstrap/grid";
@import "../lib/bootstrap/stylesheets/bootstrap/tables";
@import "../lib/bootstrap/stylesheets/bootstrap/forms";
@import "../lib/bootstrap/stylesheets/bootstrap/buttons";

// Utility classes
@import "../lib/bootstrap/stylesheets/bootstrap/utilities";
@import "../lib/bootstrap/stylesheets/bootstrap/responsive-utilities";


/***************************/
/* BASICS ******************/
/***************************/

// RESPONSIVE 2.0 VARIABLES
$shadow: 0 1px 1px rgba(0, 0, 0, .075);

/***************************/
/* HTML ********************/
/***************************/

body {
	word-wrap: break-word;
}

li {
	margin-bottom: 5px;
}

/*--------------------------------------------------------------
1.0 STRUCTURE
--------------------------------------------------------------*/
.container {
	@include container-fixed();
	@media (min-width: $screen-sm-min) {
		width: $container-sm;
	}
	@media (min-width: $screen-md-min) {
		width: $container-md;
	}
	@media (min-width: $screen-lg-min) {
		width: $container-lg;
	}
}

.container-full-width {
  @include container-fixed();
}

.row {
  @include make-row();
}


/*--------------------------------------------------------------
1.0 Menu
--------------------------------------------------------------*/
/*--------------------------------------------------------------
1.1 Top Menu
--------------------------------------------------------------*/
#top-menu-container {
	padding: 5px 0;
	background-color: $gray-dark;
	.top-menu {
		float: right;
		margin: 0;
		padding: 0;
		li {
			float: left;
			margin-left: 10px;
			list-style: none;
			&:after {
				content: '|';
				color: $gray-light;
				font-weight: 100;
				margin-left: 10px;
			}
			&:last-child:after {
				margin-left: 0;
				content: '';
			}
			a {
				text-decoration: none;
				color: $gray-lighter;
				font-size: 0.8em;
				&:hover {
					color: $link-color;
				}
			}
		}
	}
}

/*--------------------------------------------------------------
1.1 Main Menu
--------------------------------------------------------------*/
#main-menu {
	padding-top: 10px;
	margin-bottom: 20px;
	background-color: $gray-dark;
}

#site-navigation {
  @include clearfix;
	ul {
      @include clearfix;
		margin: 0;
		padding: 0;
		li {
			margin: 0;
			padding: 0;
			list-style: none;
		}
		> li {
			position: relative;
			float: left;

			padding-bottom: 10px;
			&:hover ul {
				display: block;
			}
			a {
				margin-right: 20px;

				color: $gray-lighter;
				&:hover {
					text-decoration: none;
					color: $gray-light;
				}
			}
		ul {
			display: none;

			padding: 10px 0 0 5px;
			li {
				margin-bottom: 10px;
			}
		}
		> ul {
			position: absolute;
			z-index: 999;

			width: 200%;
			min-width: 200px;
			padding: 10px;

			background-color: $gray-dark;
		}
		}
	}
}

/* FOOTER MENU ===================*/

#footer-menu-container {
	.footer-menu {
		padding: 0;
		li {
			float: left;
			margin-right: 10px;
			list-style: none;
		}
	}
}

/***************************/
/* HEADER ******************/
/***************************/

#site-branding {
  @include make-md-column(8);
}

#top-widget {
  @include make-md-column(4);
}


/***************************/
/* CONTENT *****************/
/***************************/

/* STRUCTURE ===================*/

.content-area {
	@extend .container;
	margin-bottom: 20px;
}

/* FEATURED ===================*/

main #featured {
  @include make-md-column(6);
}

main #featured-image {
	@extend #featured;
}

/* POSTS & PAGES ===================*/

#main article {
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid $gray-dark;
  @include clearfix();
	&:last-child {
		border-bottom: none;
	}
}

.single #main article {
	border-bottom: none;
}

.entry-header {
	margin-bottom: 20px;
}

.entry-thumbnail {
	margin-bottom: 20px;
}

/* NAVIGATION ===================*/

.site-main [class*="navigation"] {
	overflow: hidden;

	margin: 0 0 1.5em;
}

[class*="navigation"] .nav-previous {
	float: left;

	width: 50%;
}

[class*="navigation"] .nav-next {
	float: right;

	width: 50%;

	text-align: right;
}

/* COMMENTS ===================*/

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
}

/* GALLERY ===================*/

.gallery {
	@extend .row;
	&.gallery-columns-1 {
		.gallery-item {
          @include make-xs-column(12);
		}
	}
	&.gallery-columns-2 {
		.gallery-item {
          @include make-xs-column(6);
		}
	}
	&.gallery-columns-3 {
		.gallery-item {
          @include make-xs-column(4);
		}
	}
	&.gallery-columns-4 {
		.gallery-item {
          @include make-xs-column(3);
		}
	}
	&.gallery-columns-5 {
		.gallery-item {
          @include make-xs-column(12/5);
		}
	}
	&.gallery-columns-6 {
		.gallery-item {
          @include make-xs-column(2);
		}
	}
	&.gallery-columns-7 {
		.gallery-item {
          @include make-xs-column(12/7);
		}
	}
	&.gallery-columns-8 {
		.gallery-item {
          @include make-xs-column(12/8);
		}
	}
	&.gallery-columns-9 {
		.gallery-item {
          @include make-xs-column(12/9);
		}
	}

}

/***************************/
/* SIDEBAR *****************/
/***************************/

#widgets {
	margin-bottom: 20px;
	.widget-title {
		margin-bottom: 20px;
		border-bottom: 1px solid $gray-dark;
	}
	ul {
		padding-left: 5px;
		li {
			list-style: none;
		}
	}
}

/***************************/
/* FOOTER ******************/
/***************************/

#footer {
	background-color: $gray-dark;
	color: $gray-light;
}

/* FOOTER WIDGETS ===================*/

#footer-widget {
	margin-bottom: 20px;
	padding-bottom: 20px;
  @include clearfix;
	.widget-title {
		color: $gray-light;
	}
	ul {
		padding: 0;
		li {
			list-style: none;
		}
	}
}

/* SOCIAL ===================*/

#menu-social-container {
	padding: 10px 0;
	margin-bottom: 10px;
	border-bottom: 1px solid $gray;
}

.social-icons {
		padding: 0;
		float: right;
		li {
			float: left;
			list-style: none;
			margin-left: 5px;
			a {
				&:hover {
					opacity: 0.8;
				}
			}
		}
}

/* COPYRIGHT & POWERED ===================*/

#footer-base {
	padding: 10px 0;
	.scroll-top {
		text-align: center;
	}
	.powered {
		text-align: right;
		padding-bottom: 10px;
	}
}

/***************************/
/* MEDIA *******************/
/***************************/

// TODO all these styles need checking

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	border: none;
}

.wp-caption {
	max-width: 100%;
	margin-bottom: 1.5em;

	border: 1px solid #cccccc;
	img[class*="wp-image-"] {
		display: block;

		max-width: 98%;
		margin: 1.2% auto 0;
	}
	.wp-caption-text {
		margin: 0.8075em 0;
	}
}

.wp-caption-text {
	text-align: center;
}

.gallery-caption {
}

img {
	max-width: 100%;
	height: auto;
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/***************************/
/* EXTRAS ******************/
/***************************/

/* ALIGNMENT ===================*/

.alignleft {
	display: inline;
	float: left;

	margin-right: 1.5em;
}

.alignright {
	display: inline;
	float: right;

	margin-left: 1.5em;
}

.aligncenter {
	display: block;
	clear: both;

	margin: 0 auto;
}

/* SCREEN READERS ===================*/

// TODO these styles need checking

.screen-reader-text {
	position: absolute !important;

	clip: rect(1px, 1px, 1px, 1px);
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	z-index: 100000; /* Above WP toolbar */
	top: 5px;
	left: 5px;

	display: block;
	clip: auto !important;

	width: auto;
	height: auto;
	padding: 15px 23px 14px;

	text-decoration: none;

	color: $link-color;
	border-radius: $border-radius-small;
	background-color: darken($body-bg, 5%);
	box-shadow: $shadow;

	font-size: $font-size-base;
	font-weight: bold;
	line-height: normal;
}

/* INFINITE SCROLL ===================*/

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer {


	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}