@charset "UTF-8";

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
// 0 - Bootstrap variables and mixins
 1.0 - Reset
 2.0 - Typography
 3.0 - Elements
 4.0 - Utilities
 5.0 - Main
	5.1 - Structure
 6.0 - Navigation
	6.1 - Top Menu
	6.2 - Main Menus
	6.3 - Sub header Menu
	6.4 - Footer Menu
 7.0 - Header
 8.0 - Content
	8.1 - Structure
	8.2 - Featured area
	8.3 - Post & Pages
	8.4 - Error page
	8.5 - Navigation
	8.6 - Comments
 9.0 - Media
	9.1 - Galleries
10.0 - Page/Post Layouts
11.0 - Sidebar
12.0 - Widgets
13.0 - Footer
	13.1 - Footer Widgets
	13.2 - Social icons
	13.3 - Copyright & Powered
14.0 - Extras (alignment)
15.0 - Accessibility
16.0 - Plugin specific styles
	16.1 - WooCommerce
	16.2 - Jetpack
--------------------------------------------------------------*/

///*--------------------------------------------------------------
// 0 - Bootstrap variables and mixins
//--------------------------------------------------------------*/
@import "../../core/bootstrap/stylesheets/bootstrap/variables";
@import "../../core/bootstrap/stylesheets/bootstrap/mixins";

/*--------------------------------------------------------------
 1.0 - Reset
--------------------------------------------------------------*/
// Reset and dependencies
@import "../../core/bootstrap/stylesheets/bootstrap/normalize";
@import "../../core/bootstrap/stylesheets/bootstrap/print";
@import "../../core/bootstrap/stylesheets/bootstrap/scaffolding";

/*--------------------------------------------------------------
 2.0 - Typography
--------------------------------------------------------------*/
@import "fontawesome";
@import "fontawesome-path";
@import "type";

/*--------------------------------------------------------------
 3.0 - Elements
--------------------------------------------------------------*/
@import "../../core/bootstrap/stylesheets/bootstrap/code";
@import "tables";
@import "forms";
@import "buttons";

// Theme Specific Styles
@import "responsive-style";

/*--------------------------------------------------------------
16.0 - Plugin specific styles
--------------------------------------------------------------*/
@import "jetpack";
@import "woocommerce";